body {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  /* background: linear-gradient(113.30489053920314deg, rgba(244, 72, 105,1) 6.255036261079775%,rgba(159, 1, 234,1) 95.29613215149072%); */
  color: rgb(20, 18, 37);
  padding: 4px;
}

.event {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.hide {
  display: none;
}
.main{
    
    width: 98vw;
}
.svg{
    width: 5rem;
}

